
// Breakpoints
$bp-narrow: "(min-width: 400px)";
$bp-mid: "(min-width: 600px)";
$bp-wide: "(min-width: 900px)";

$page-color : #fff;
$page-accent-color : #ddd;
$text-color: #222;
$theme-color: #33c;
$accent-color : #33c;
